.button {
  background-color: lightblue;
  border: none;
  color: black;
  padding: 15px 25px;
  margin: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  width: 45%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
  transition-duration: 0.2s;
}

.button:hover {
  background-color: #4CAF50;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.center {
  margin: auto;
  width: 95%;
}